.error{
    font-size: calc(5px + 1vmin);
    color: red;
    margin-top:10px;
}

.words{
    text-align: auto;
    font-size: calc(5px + 1vmin);
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top:10px;
}

.button{
    margin-top:10px
}