.App {
    text-align: auto;
}

.App-header {
    background-color: #191414;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    margin-top: 70px;
}

.Review-header{
    background-color: #191414;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    margin-top:41px;
}