.browse-card{
    width:500px;
    background-color: #2b2a2a;
    margin-top: 20px;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.card-header{
    background-color:#202020;
    margin-bottom:10px;
}

.date{
    font-size:calc(5px + 1vmin);;
    margin-bottom:0px;
}

.reviewUser{
    color:white;
    font-size:calc(5px + 2vmin);
    font-weight: bold;
}

.reviewUser:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}

